In [ ]:
# Classification is a problem of predicting if something is one or another, 0 or 1, true or false... etc..

## Make classification data and get it ready

In [1]:
from sklearn.datasets import make_circles

In [3]:
# make 1000 samples
n_samples = 1000

# Create circles
X, y = make_circles(n_samples,
                    noise=0.05, #adds randomness
                    random_state=88) #same as setting a seed

len(X), len(y)

(1000, 1000)

In [6]:
print(f'Firs 5 samples of X:\n {X[:5]}\n')
print(f'Firs 5 samples of y:\n {y[:5]}')

Firs 5 samples of X:
 [[ 0.99479988  0.00199469]
 [ 0.79020191 -0.33914489]
 [ 0.60377406  0.55673116]
 [ 0.74729632  0.35150497]
 [-0.88736514 -0.27892634]]

Firs 5 samples of y:
 [0 1 1 1 0]

In [8]:
# Make DataFrame of cirlce data
import pandas as pd
circles = pd.DataFrame({"X1": X[:, 0],
                        "X2": X[:, 1],
                        "label": y
                      })
circles.head(10)

         X1        X2  label
0  0.994800  0.001995      0
1  0.790202 -0.339145      1
2  0.603774  0.556731      1
3  0.747296  0.351505      1
4 -0.887365 -0.278926      0
5  0.753199 -0.327201      1
6  0.622256  0.434861      1
7 -0.405536  0.588440      1
8 -0.154911 -0.770803      1
9  0.507713  0.656800      1